main {
    display: flex;
    justify-content: center;
    
}

.main-box {
    display: flex;
    flex-direction: column;
    
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 48px 40px 36px;
    
    width: 448px;
    height: 500px;
}

.login-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0px 6px;
}

.login {
    text-align: center;

    font-size: 24px;
    font-weight: 400;
}

.drive-move {
    text-align: center;

    font-size: 16px;
}

.email-phone {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 13px 15px;

    margin: 30px 0px 10px;

    width: 356px;
    height: 54px;

    font-size: 15px;
}

.email-phone:focus {
    border: 2px solid #70aeff;
}

.lost-email-button {
    border: none;
    background-color: #ffffff00;
    
    width: 150px;
    height: 20px;

    margin: 0px 0px 50px 0px;
    font-size: 16px;
    font-weight: 300;
    color: #338cff;

    cursor: pointer;
}

.guest-mode {
    font-size: 16px;
}

.know-more-button {
    border: none;

    font-size: 16px;
    color: #338cff;
    background-color: #ffffff00;

    cursor: pointer;
}

.signup {
    display: flex;
    align-items: right;

    border: none;

    width: 80px;
    height: 40px;
    margin: 50px 0px 0px;

    font-size: 16px;
    color: #338cff;
    background-color: #ffffff00;

    cursor: pointer;
}

.signup:hover {
    background-color: #dbdbdb;
    color: #387bd3;
}

.next-button {
    border: none;

    width: 50px;
    height: 40px;
    background-color: #338cff;
}

footer {
    display: flex;
    justify-content: center;
}